{%  extends  'base.html' %}

{% block title %}Contact{% endblock title %}

{% block body %} 
<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

    
          <div class="entry-content-wrapper clearfix">
            <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork"><div class="avia_textblock " itemprop="text"><p style="text-align: center; font-family: Cinzel; font-size: 30px; color: #363636;">– Feel Free To Contact Us –</p>
          </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.0414391065005!2d83.17559461501484!3d27.685114082801103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3996f417b7abadd7%3A0x1e4f5c129ee2056b!2sBuddham%20Trade%20Link!5e0!3m2!1sen!2snp!4v1607515240622!5m2!1sen!2snp"  frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container">
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Banganga-4,Charnumber,Kapilvastu</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>gokulkhanal55@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+9779800798526</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0 mf-4">

            <form method="post" action="/contact">
            {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number" data-rule="minlen:4" data-msg="Please enter your phone number" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->


{% endblock body %}


